{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
  <style>
    body { font-family: "Wix Madefor Display", Arial, sans-serif; }
  </style>
</head>
<body>
  <p>Hello {{ user.first_name }},</p>
  <p>We hope you're having a great {{ date|date:"l" }}! Here's a quick look at your upcoming event{{ events|length|pluralize }}:</p>

  {% for event in events %}
  <ul>
    <li>
    {% if event.event_type == 'birthday' and event.full_date %}
      <strong>{{ event.name }}</strong> is turning 
      {{ date.year|subtract:event.date.year }} years old
    {% elif event.event_type == 'birthday' %}
      <strong>{{ event.name }}</strong> has a birthday
    {% else %}
      The event titled "<strong>{{ event.name }}</strong>" is
    {% endif %}

    {% if event.notification_days == 0 %}
      today.
    {% elif event.notification_days == 1 %}
      tomorrow.
    {% else %}
      in {{ event.notification_days }} days.
    {% endif %}
    </li>
  </ul>
  {% endfor %}

  <p>Have a great day!</p>
  <p>Best wishes,<br> The Cookies & Dates Team</p>
</body>
</html>