# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
.env
.env.*

# Ignore local configuration files
local_settings.py

# Ignore static files generated during development
staticfiles/
media/

# Ignore other unnecessary files and directories
.git
.gitignore
.DS_Store
*.log
*.sqlite3
*.pdb
*.egg-info
dist/
build/
*.zip
*.tar.gz